<%- include('includes/head')  %> 
<%- include('includes/nav')  %> 

<div class="conteiner">
    <div class="row">

        <div class="col-lg-2"></div>


        <div class="col-lg-8 my-3">
            <%- include('includes/messenges')  %> 

             <h1 class="text-center"> Agenda </h1>
             <p class="text-center lead">Seus contatos estão abaixo <%=user.email%> </p>
        


            <div class="responsive-table">
                <table class="table">
                    <tr>
                        <td>Gustavo Kurek</td>
                        <td>(42) 9 88007212 </td>
                        <td>gustavoKureksz@outlook.com</td>
                    </tr>
                </table>
            </div>

        </div>


        <div class="col-lg-2"></div>

    </div>

</div>
    


   <%- include('includes/footer')  %> 


