<%- include('includes/head')  %> 
<%- include('includes/nav')  %> 

<div class="conteiner">
    <div class="row">

        <div class="col-lg-2"></div>


        <div class="col-lg-8 my-3">
            <%- include('includes/messenges')  %> 

             <h1 class="text-center"> Agenda </h1>
             <% if(user){ %>
                <p class="text-center lead">Lista de Contatos de <%=user.email%> </p>
             <% } %> 
        


            <div class="responsive-table">
                
                <% const cont= contatos.reduce((a,v)=> { %>
                    <% if(user.email=== v.user){ %>
                        <% a.push(v) %> 
                    <%  } %> 
                    <% return a %> 
                <%}, [] )  %> 

                <% if(cont.length > 0) {%>
                    <table class="table"> 
                    <% contatos.forEach(contato=> { %>
                    <tr>
                        <% if(user.email=== contato.user){ %> 
                        <td>
                            <%= contato.nome %>
                        </td>

                        <td>
                            <%= contato.telefone  %>  
                        </td>
                            
                        <td>
                            <%= contato.email %>
                        </td>

                        <td>
                                <a href="contato/index/<%= contato._id %>"> editar</a>
                        </td>

                        <td>
                                <a class='text-danger' href="contato/delete/<%= contato._id %>"> excluir</a>
                        </td>

                        <% } %> 
                    </tr>
                   <% }) %> 
                </table> 
            </div>
                   <% } else{ %> 
                   <p class="text-center lead">Você não tem nenhum contato cadastrado</p>
                   <% } %> 
                   
                
           

        </div>


        <div class="col-lg-2"></div>

    </div>

</div>
    


   <%- include('includes/footer')  %> 


